{
  "hooks": {
    "commit-msg": "npm run build:babel && node ./build/bin/index.js git:msg",
    "pre-commit": "npm run build:babel && node ./build/bin/index.js git:commit",
    "pre-push": "npm run build:babel && node ./build/bin/index.js git:push",
    "post-merge": "echo npm run build:babel && node ./build/bin/index.js git:change",
    "post-rewrite": "echo npm run build:babel && node ./build/bin/index.js git:change",
    "post-checkout": "echo npm run build:babel && node ./build/bin/index.js git:change"
  }
}
