# os folders/files
.DS_Store
._*

# node.js folders/files
node_modules
npm-debug.log

# editors
/.vscode
/.idea

# config folders/files
/.github
/.dependabot
/.editorconfig
/.eslint*
/.git*
/.husky
/.prettier*
/.releaserc.json
/babel*
/jest*
/tsconfig*
/webpack*

# test files
**/*.test.js
**/*.test.ts
**/*.test.tsx
**/*.test-d.js
**/*.test-d.ts
**/*.test-d.tsx

# project folders/files
/coverage
/example
/examples
/docs
/src
/tests
docker-compose.yml
Dockerfile
